.App {
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.appbar{
  position: absolute;
  padding-bottom: 5%;
}

.posts-list-container{
  margin-top: 2%;
}

.add-post-button{
  position: fixed;
  top:85%;
  left: 90%;
}

.add-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.commented-post{
  display: flex;
  flex-direction: column;
  align-items: center;
}


