.App {
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.posts-list-container{
  
  
}

.add-post-button{
  
  align-self: flex-end;
}

.add-comment{
  display: flex;
  flex-direction: column;
}

.commented-post{
  display: flex;
  flex-direction: column;
  align-items: center;
}


